:root {
    --green: #057573;
    --border: #E4EAE8;
    --boxBG: #FEFEFE;
    --shadow: 1px 2px 8px #888888;
    background: #F4F6F5;
    font-family: "Roboto";
    font-weight: 600;
    color: #4D4D4D;
}

select {
    margin-top: 1%;
}

fieldset{
    background: var(--boxBG);
    box-shadow: var(--shadow);
    padding: 1rem;
    margin-top: 1rem;
    border: 2px solid var(--border);
    border-radius: 10px;
}

/* CSS */
.button {
  background-color: var(--green);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 1%;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #08ACAA;
}

.inner-cost-breakdown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "duringSigning duringCollection"
    "totalCost totalCost";
    gap: 1rem;
}

.outer-cost-breakdown {
    display: none;
}

.duringSigning{
    background: var(--boxBG);
    box-shadow: var(--shadow);
    padding: 1rem;
    border: 2px solid var(--border);
    border-radius: 10px;
    grid-area: duringSigning;

    place-items: center;
}

.duringSigning ul li {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    margin-bottom: 1rem;
}

.duringCollection{
    background: var(--boxBG);
    box-shadow: var(--shadow);
    padding: 1rem;
    border: 2px solid var(--border);
    border-radius: 10px;
    grid-area: duringCollection;
    place-items: center;
}

.duringCollection ul li {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    margin-bottom: 1rem;
}

.combined_total{
    background: var(--boxBG);
    box-shadow: var(--shadow);
    padding: 1rem;
    border: 2px solid var(--border);
    border-radius: 10px;
    grid-area: totalCost;
}

.combined_total ul li {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}




h1,
h2,
h3,
h4 {
    text-align: center;
    color: var(--green);
}
